* {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

.item2{
  color: rgb(169, 80, 139) !important; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(169, 80, 139);
  padding: 1.2rem;
  background-color: rgb(53, 66, 74);
  color: white;
}

span {
  color: rgb(169, 80, 139);
}

.navbar ul li.item {
  list-style-type: none;
  display: inline-block;
}

.navbar ul li a {
  color: white;
  padding: 0.7rem;
  text-decoration: none;
}

a:visited {
  color: rgb(169, 80, 139);
}

.subscribe{
    background-color: rgb(53, 66, 74);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

input, button{
    padding: 10px;
    border: none;
}

button{
    color: white;
    background-color: orangered;
    cursor: pointer;
}

.banner2 {
 height: 70vh;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 2rem;
}

.about{
    width: 60%;
    display: inline-block;
}

.baslik{
    margin-bottom: 1rem;
}

.container, .container1 {
    background-color: rgb(53, 66, 74);
    color: white;
    display: inline-block;
}

.container1{
    width: 95%;
    padding: 1rem;
    margin-top: 1rem;

}

.container{
    padding: 0.75rem;
    width: 30%;
    height: 20vh;
}

.baslik2{
    margin-bottom: 1rem;
}

footer{
    background-color:  rgb(53, 66, 74);
    color: white;
    padding: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}